 .maincontainer {
  display: flex;
  flex-direction: row;
}


body {
  background-color: #55BCC9;
}

li {
  background-color: #E8A87C;
  font-family: verdana;
  border: 1px solid;
  border-color: "black";
  font-size: 20px;
  width: 450px;
}

.reviews {
  float:"right";
  background: '#E8A87C';
}

.h3 {
  color: #EDF5E1;
  border-color: "black";
}

.Header {
  color: #EDF5E1;
}
/*
.pizzacontainer {
  width: 451px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  z-index: 1;
} */

/*
#header {
    width: 100%;
    background-color: red;
    height: 30px;
}



#container {
    width: 300px;
    background-color: #blue;
    margin: auto;
}
#first {
    width: 100px;
    float: left;
    height: 300px;
        background-color: blue;
}
#second {
    width: 200px;
    float: right;
    height: 300px;
    background-color: green;
}
#clear {
    clear: both;
} */
